branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1609346930842/work
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012310340/work
certifi==2021.10.8
cffi @ file:///opt/concourse/worker/volumes/live/506ff722-306a-4142-6379-cfea99aadbed/volume/cffi_1625814701363/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1635822681337/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1639699399793/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1631346842025/work
Flask==2.0.1
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1635819868855/work
geocoder==1.38.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
itsdangerous==2.0.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1636510082894/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1635833661769/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1636145437548/work
pandas==1.3.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862551662/work
python-dateutil==2.8.2
pytz==2021.1
ratelim==0.1.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
Werkzeug==2.0.1
